{% extends "/layout/layoutAdmin.html" %}
{% block main %}
<main class="container mt-5 mb-5">
    <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
    <div class="row">
        <div class="col-sm">
            <h3 class="text-center text-uppercase fw-bold">Thêm mới bài viết</h3>
            <form action="index.php?controller=article&action=processAdd" method="post" enctype="multipart/form-data">
                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tiêu đề</span>
                    <input type="text" class="form-control" name="tieude" >
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tên bài hát</span>
                    <input type="text" class="form-control" name="ten_bhat" >
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Thể loại</span>
                    <!-- <input type="text" class="form-control" name="ten_tloai" > -->
                    <select  name = "the_loai">
                        <option value="" disabled selected>Chọn một thể loại</option>
                        {% for c in category %}
                            <option value="{{c.ma_tloai}}">{{c.ten_tloai}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tóm tắt</span>
                    <textarea type="text" class="form-control" name="tomtat" > </textarea>
                    
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Nội dung</span>
                    <textarea type="text" class="form-control" name="noidung" > </textarea>
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tác giả</span>
                    <!-- <input type="text" class="form-control" name="ten_tgia" > -->
                    <select  name = "tac_gia">
                        <option value="" disabled selected>Chọn một tác giả</option>
                        {% for au in author %}
                            <option value="{{au.ma_tgia}}">{{au.ten_tgia}}</option>
                        {% endfor %}
                        
                    </select>
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Hình ảnh</span>
                    <input type="file" class="form-control" id="article_image" name="hinhanh" accept="image/png, image/jpeg" >
                </div>
                

                <div class="form-group  float-end ">
                    <input type="submit" value="Thêm" class="btn btn-success">
                    <a href="index.php?controller=article&action=list" class="btn btn-warning ">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
