{% extends "/layout/layoutAdmin.html" %}
{% block main %}
<main class="container mt-5 mb-5">
    <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
    <div class="row">
        <div class="col-sm">
            <h3 class="text-center text-uppercase fw-bold">Sửa thông tin bài viếtviết</h3>
            <form action="index.php?controller=article&action=processEdit" method="post" enctype="multipart/form-data">
                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Mã bài viết</span>
                    <input type="text" class="form-control" name="ma_bviet" readonly value="{{article.ma_bviet}}">
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tiêu đề</span>
                    <input type="text" class="form-control" name="tieude" value="{{article.tieude}}">
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tên bài hát</span>
                    <input type="text" class="form-control" name="ten_bhat" value="{{article.ten_bhat}}">
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Thể loại</span>
                    <select  name = "the_loai">
                        <option value="{{nameCategory.ma_tloai}}" selected>{{nameCategory.ten_tloai}}</option>
                        {% for c in nameCategoryExcept %}
                            <option value="{{c.ma_tloai}}">{{c.ten_tloai}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tóm tắt</span>
                    <textarea type="text" class="form-control" name="tomtat" >{{article.tomtat}} </textarea>
                    
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Nội dung</span>
                    <textarea type="text" class="form-control" name="noidung" >{{article.noidung}} </textarea>
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Tác giả</span>
                    <!-- <input type="text" class="form-control" name="ten_tgia" > -->
                    <select  name = "tac_gia">
                        <option value="{{nameAuthor.ma_tgia}}" selected>{{nameAuthor.ten_tgia}}</option>
                        {% for au in nameAuthorExcept %}
                            <option value="{{au.ma_tgia}}">{{au.ten_tgia}}</option>
                        {% endfor %}
                        
                    </select>
                </div>

                <div class="input-group mt-3 mb-3">
                    <span class="input-group-text" >Hình ảnh</span>
                    <input type="file" class="form-control" id="article_image" name="hinhanh" accept="image/png, image/jpeg" >
                </div>
                

                <div class="form-group  float-end ">
                    <input type="submit" value="Lưu lại" class="btn btn-success">
                    <a href="index.php?controller=article&action=list" class="btn btn-warning ">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
