{% extends "/layout/layoutAdmin.html" %}
{% block main %}

<main class="container mt-5 mb-5">
        <!-- <h3 class="text-center text-uppercase mb-3 text-primary">CẢM NHẬN VỀ BÀI HÁT</h3> -->
        <div class="row">
            <div class="col-sm">
                <h3 class="text-center text-uppercase fw-bold">Thêm mới thể loại</h3>
                <form action="index.php?controller=user&action=processAdd" method="post">
                    <div class="input-group mt-3 mb-3">
                        <span class="input-group-text" id="lbUserName">Tên Đăng Nhập</span>
                        <input type="text" class="form-control" name="txtUserName" >
                    </div>
                    <div class="input-group mt-3 mb-3">
                        <span class="input-group-text" id="lblUserPass">Mật Khẩu</span>
                        <input type="password" class="form-control" name="txtUserPass" >
                    </div>
                    <div class="input-group mt-3 mb-3">
                        <span class="input-group-text" id="lblUserEmail">Email</span>
                        <input type="email" class="form-control" name="txtUserEmail" >
                    </div>

                    <div class="input-group mt-3 mb-3">
                        <span class="input-group-text" id="lblUserAdmin">Admin</span>
                        <input type="text" class="form-control" name="txtUserAdmin" >
                    </div>
                    <div class="input-group mt-3 mb-3">
                        <span class="input-group-text" id="lblUserActive">Active</span>
                        <input type="text" class="form-control" name="txtUserActive" >
                    </div>
            
                    <div class="form-group  float-end ">
                        <input type="submit" value="Thêm" class="btn btn-success">
                        <a href="index.php?controller=user&action=index" class="btn btn-warning ">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}